/* 
&display=swap
&subset=cyrillic-ext
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  /* по умолчанию */
  font-size: 14px;
}
body {
  line-height: 1;
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 400;
  color: #030d15;
  background: #ffffff;
  /* overflow-x: hidden; */
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ===== [class*="__container"] ===== */
[class*="__container"] {
  /* box-sizing: content-box; */
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}
